.new-announcement-container {
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
	.form-container {
		padding: 2rem 0;
		background-color: #f2f4f5;
	}
}

@media screen and (min-width: 1000px) {
	.new-announcement-container {
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		.form-container {
			background-color: #ffffff;
		}
	}
}
